@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

#app {
    height: 100vh;
    display: grid;
    place-content: center;
}

section {
    display: flex;
    gap: 19.2rem;
    align-items: center;
}

span {
    font-size: 12.6rem;
    color: #323238;
    font-weight: 500;
    text-transform: uppercase;
}

#controls {
    display: flex;
    justify-content: space-between;
}

#controls button {
    font-size: 4.8rem;
    background: none;
    border: none;
    color: #323238;

    cursor: pointer;
}

#controls button:hover {
    transform: scale(1.05);
}

#musicPlayer {
    display: flex;
    gap: 3.2rem;

    max-width: 30.8rem;
    flex-wrap: wrap;
}

#musicPlayer button {
    min-width: 13.8rem;
    min-height: 15.2rem;

    border-radius: 2.4rem;
    border: none;

    font-size: 6rem;

    cursor: pointer;
}

.hidenButton{
    background-color: #02799D;
    color: #FFF;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

