@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-size: 62.5%;

    --bg-color-dark-n-tt-color-light: #121214;
    --bg-color-controls-dark-n-light: #242424;
    --tt-color-n-bg-light: #F8F8FC;
    --secondary-color: #42D3FF;
}

*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body{
    display: grid;
    place-content: center;
    position: relative;
    height: 100vh;

    background-color: var(--bg-color-dark-n-tt-color-light);

    font-family: "Roboto", sans-serif;
    color: var(--tt-color-n-bg-light);
}

.lightAndDarkMode{
    position: absolute;
    
    border: none;
    background: none;

    top: 3.2rem;
    right: 3.2rem;

    font-size: 3.2rem;
    color: var(--tt-color-n-bg-light);

    transition: .5s;
}

.lightAndDarkMode:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}


main{
    display: grid;
    place-items: center;
}

#timer{
    font-size: 9.2rem;
    font-weight: 700;
}

.controlsPlay{
    display: flex;
    gap: 1.6rem;

    background-color: var(--bg-color-controls-dark-n-light);
    border-radius: 999rem;

    padding: 2.2rem 4rem;
    margin-top: 1.6rem;
}

.controlsPlay button{
    font-size: 6.4rem;
    color: var(--tt-color-n-bg-light);

    background: none;
    border: none;

    transition: .7s;
}

.controlsPlay button:hover{
    cursor: pointer;
    transform: scale(1.06);
}

.controlsPlay button.secondary-color{
    color: var(--secondary-color);
}
