@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;

    background: #040924;
    font-size: 1.6rem;
    
}

main, .modal-card{
    
    width: min(90vw, 42.8rem);

    background: #FFF;

    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
}

h1{
    color: #0C3440;
    font-size: 3.2rem;
    line-height: 4rem;
}

/* form */

form{
    margin-top: 3.2rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper:first-child{
    margin-bottom: 1.6rem;
}

.input-wrapper input{
    padding: 1.6rem;

    width: 100%;

    border-radius: .4rem;
    border: 1px solid rgba(73, 80, 87, 0.30);
    background: #DCE2E9;
}

.input-wrapper input:focus{
    outline: .2rem solid #02799D;
}

.input-wrapper label{
    font-size: 1.4rem;
    color: #00453A;
    line-height: 1.8rem;

    margin-bottom: .8rem;
}

form button{
    display: flex;
    align-items: center;
    gap: .8rem;
    width: 100%;
    justify-content: center;

    padding: 1.6rem;
    margin-top: 3.2rem;

    background-color: #02799D;
    border-radius: .4rem;
    border: none;

    color: #FFFFFF;
    line-height: 2rem;
    font-weight: 700;

    transition: background 1s;
}

form button:focus{
    outline: .2rem solid #0C3440;   
}

form button:hover{
    background-color: #015068;
    cursor: pointer;
}


/* Modal */

.modal-wrapper{
    display: grid;
    place-content: center;

    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.70);

    opacity: 0;
    visibility: hidden;
}

.modal-card{
    text-align: center;
    width: auto;
    position: relative;
}

.buttonClose{
    border: none;
    background: none;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;

    transition: .3s;
}

.buttonClose:hover{
    transform: scale(1.1);
}

.openPopUp{
    opacity: 1;
    visibility: visible;
}

/* Mensagem de erro */

.error{
    background: #F03E3E;
    
    color: #FFF;
    font-weight: 700;
    line-height: 2rem;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    padding: .8rem 0;
    text-align: center;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-100%);
    transition: transform .5s;
    
    
}

.hide{
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
    
}